body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("/images/background.jpg");
  }
  
  .mid{
    text-align: center;
    margin: auto;
    padding-top: 15%;
  }

  .rightshift{
    padding-top: 10px;
  }